* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", monospace;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
}

.hero .main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.button .call-to-action {
    background-color: #3882f6;
}

.information-header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}